@import "tailwindcss";

.container {
  margin: auto;
}

@theme {
  --font-primary_font: "Bebas Neue";
  --font-secondary_font: "Manrope";
  --color-primary_bg: #0a0a0a;
  --color-primary_text: #c7c7c7;
  --color-heading_text: #ffffff;
  --color-link:#D3E97A;
  --color-btn: #d3e97a;
  --breakpoint-MyXl:1920px;
}
